
@{
    ViewBag.Title = "Marvel";
}
<div class="container-fluid padding">
    <div class="container col-md-12">
        <div class="card text-info border-white ">
            <img src="/Marvel/GetImage" class="card-img-bottom figure-img" />
            <h4 class="text-center text-danger">Welcome to the Marvel of the Universe</h4>
        </div>
    </div>
    <div class="container col-md-12">

        <p>
            <h5 class="text-body text-info">
                The site is intended for fans of the marvels of Marvel. Here you can:
            </h5>
                <ul class="text-info text-body">
                    <li>view the abilities of any heroe</li>
                    <li>find out history and information heroe</li>
                    <li>view all the films where the hero has participated</li>
                </ul>
        </p>
        <p>
            <h5 class="text-body text-info">
                For registered users added additional features such as
            </h5>
            <ul class="text-info text-body">
                <li>comments to the heroes or films</li>
                <li>like heroes or films</li>
                <li>to look over like heroe or movie in your personal office</li>
            </ul>
            View the abilities of any heroe and all the information about him. You can also view all the films where the hero has participated. For registered users added additional features such as: comments to the hero or film and liki.
        </p>
    </div>
</div>

